body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--tg-theme-secondary-bg-color);
    margin: 0;
}

#form {
    max-width: 400px;
    margin: 50px auto;
    background-color: var(--tg-theme-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 17px;
    text-align: center;
    color: var(--tg-theme-text-color);
}

p {
    font-size: 16px;
    margin-bottom: 5px;
    color: var(--tg-theme-text-color);
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: var(--tg-theme-secondary-bg-color);
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 12px;
    height: 13px;
}

button.sign-in,
button.sign-up {
    background-color: #0088cc;
    color: var(--tg-theme-button-text-color);
    border: none;
    padding: 10px;
    margin-top: 16px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button.sign-in:hover,
button.sign-up:hover {
    background-color: #006699;
}

@keyframes fadeInOut {

    0%,
    100% {
        opacity: 0;
    }

    10%,
    90% {
        opacity: 1;
    }
}